.searchBox {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.folder {
  margin-left: auto;
  margin-right: auto;
}

.showFolder {
  width: 200px;
  margin-right: auto;
  margin-left: auto;
}

.ListRepositories {
  align-items: center;
}

.display-flex{
  display: flex !important;
  flex-direction: column;
}
